<aside class="left-sidebar">
   <!-- Stuff Goes Here -->
   <ul id="slide-out" class="collection with-header" style="margin: 0; ">
      <li class="collection-header">Navigation</li>
      <li class="collection-item"><a href="{% url 'index' %}"> <i class="material-icons">home</i> Home</a></li>
      <li class="collection-item"><a href="{% url 'books' %}"> <i class="material-icons">book</i> All Books</a></li>
      <li class="collection-item"><a href=""> <i class="material-icons">person</i> All Authors</a></li>
   </ul>
</aside>