{% extends 'base_structure.html' %}

{% load static %}

{% block main %}
<div id="auth-list" class="container">
    {{vue_data|json_script:"vue-data"}}
    <div class="row">
        <div class="col s10 offset-s1">
            <ul class='collection with-header'>
                <li class="collection-header">
                    <h3>All Authors</h3>
                </li>
                <author-list-item v-for="author in authors" :key="author.id" :author="author"></auth-list-item>
            </ul>
        </div>
    </div>
</div>
{% endblock main %} 

{% block more_js %}
<script src="{% static 'catalog/js/main.js' %}"></script>
{% endblock more_js %}