{% extends 'base_structure.html' %}
{% load static %}
{% block main %}
<div id="app">
{{ books_objects|json_script:"vue-data"}}
    <div class="container">
        <div class="row">
            <div class="col s8 offest-s2">
                <ul v-if="books" class="collection with-header">
                    <li class="collection-header">
                        <h4>Current Books</h4>
                    </li>
                   <book-list-item v-for="book in books" :key="book.id" :book="book"></book-list-item>
                </ul>
                <div v-else class="alert alert-info">
                    <h3>No Books</h3>
                    <div class="divider"></div>
                    <p>It looks like we do not have any books in this library.  This is very sad.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main %}

{% block more_js %}
<script src="{% static 'catalog/js/main.js' %}"></script>
{% endblock more_js %}