{% extends 'base_structure.html' %}

{% block main %}
<div id="app">
{{ books_objects|json_script:"vue-data"}}
    <div class="container">
        <div class="row">
            <div class="col s8 offest-s2">
                <ul v-if="books" class="collection with-header">
                    <li class="collection-header">
                        <h4>Current Books</h4>
                    </li>
                    <li v-for="book in books" :key="book.title" class="collection-item avatar">
                        <div>
                            <i class="material-icons circle">book</i>
                            <span class="title">[[book.title]]</span> 
                            <p>by [[book.author]]</p> 
                            <p>[[book.copies_available]] copies available</p>
                            <a :href="book.url" class="secondary-content tooltipped" data-tooltip="View book details">
                                <i class="material-icons">launch</i>
                            </a>
                        </div>
                    </li>
                </ul>
                <div v-else class="alert alert-info">
                    <h3>No Books</h3>
                    <div class="divider"></div>
                    <p>It looks like we do not have any books in this library.  This is very sad.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main %}

{% block more_js %}
<script>
    var app = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        data: {
            books: []
        },
        methods: {
            parseBooks: function() {
                this.books = JSON.parse(document.getElementById('vue-data').textContent);
            },
            uiInit: function() {
                document.addEventListener('DOMContentLoaded', function() {
                    M.Tooltip.init(document.querySelectorAll('.tooltipped'));
                });
            }
        },
        mounted() {
            this.parseBooks();
            this.uiInit();
        }
    })
</script>
{% endblock more_js %}